@import "tailwindcss";

@layer base {
  body {
    /* @apply bg-green-900 h-screen overflow-hidden; */
  }

  /* Custom Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(234, 179, 8, 0.3); /* yellow-500 with opacity */
    border-radius: 10px;
    transition: background 0.2s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(234, 179, 8, 0.6);
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(234, 179, 8, 0.3) rgba(0, 0, 0, 0.2);
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
